@{

    ViewData["Title"] = "Not Found";
}

<style>
    main,
    body,
    html,
    .container {
        width: 100% !important;
        max-width: 10000px;
        height: 70% !important;
        padding: 0px !important;
        margin: 0px !important;
        margin-top: 65px !important;
        background-color: rgb(255, 222, 222);
    }

    ::-webkit-scrollbar {
        width: 10px;
        display: none;
    }
</style>

<div class="sectioN noSelect">
    <h1>404.</h1><br>
    <h2>This is not the</h2>
    <h2>webpage you</h2>
    <h2>are looking for.</h2>
</div>