@{
    ViewData["Title"] = "Loading...";
}

<div class="mainSection" style="box-shadow: none; margin-top:200px">
    <img src="https://github.com/dependabot-pr/Static-Files/raw/main/Assets/spinner.gif" alt="load">
</div>
<script>
    setTimeout(function () {
        window.location.href = 'https://localhost:5002/Error/NotLoggedIn';
    }, 1000);
</script>