@{

    ViewData["Title"] = "Not Logged In";
}

<style>
    main,
    body,
    html,
    .container {
        width: 100% !important;
        max-width: 10000px;
        height: 70% !important;
        padding: 0px !important;
        margin: 0px !important;
        margin-top: 65px !important;
        background-color: rgb(255, 222, 222);
    }

    ::-webkit-scrollbar {
        width: 10px;
        display: none;
    }
</style>

<div class="sectioN noSelect">
    <h1>Not Logged In</h1><br>
    <h2>Please <a asp-controller="User" asp-action="Login">Login</a> or <a asp-controller="NewUser"
            asp-action="Create">Register</a></h2>
</div>