@{
    ViewData["Title"] = "Not Logged In";
}

<div class="sectioN noSelect">
    <h1>Not Logged In</h1><br>
    <h2>Please <a asp-controller="User" asp-action="Login">Login</a> or <a asp-controller="NewUser"
            asp-action="Create">Register</a></h2>
</div>