@{

    ViewData["Title"] = "Unexpected Error";
}

<style>
    main,
    body,
    html,
    .container {
        width: 100% !important;
        max-width: 10000px;
        height: 70% !important;
        padding: 0px !important;
        margin: 0px !important;
        margin-top: 65px !important;
        background-color: rgb(255, 254, 222);
    }

    ::-webkit-scrollbar {
        width: 10px;
        display: none;
    }

    .sectioN {
        background-color: rgb(255, 254, 222) !important;
    }
</style>

<div class="sectioN noSelect">
    <h1>Unexpected Error</h1><br>
    <h2>An unexpected error has occured</h2>
</div>