@{
    ViewBag.Title = "Home";
}


</style>

<div class="containerMod container1" style="display: block;">
    <h1 class="head">Template</h1>
    <h2 class="head">Using ASP.NET MVC, SQL Server, JWT</h2>
</div>


<div class="footerLogo containerMod">
    <h5>Copyright © 2022, Hope Clinic. All rights reserved.</h5>
</div>
