@{
    ViewBag.Title = "Deleted Successfully";
}

<div class="sectioN sectioNG noSelect">
    <h1>200.</h1><br>
    <h2>The account has been <span style="color: Red; font-weight: 800">deleted Successfully</span></h2>
</div>


<script>
    setTimeout(function () {
        window.location.href = 'https://localhost:5002/';
    }, 3000);
</script>