@{
    ViewBag.Title = "Edited Successfully";
}

<div class="sectioN sectioNG noSelect">
    <h1>200.</h1><br>
    <h2>The account has been edited <span style="color: var(--accentdark); font-weight: 800">Successfully</span></h2>
</div>


<script>
    setTimeout(function () {
        window.location.href = 'https://localhost:5002/User/MyAccount';
    }, 3000);
</script>