@{
    ViewBag.Title = "Order recieved";
}

<div class="sectioN sectioNG noSelect">
    <h2>Your <span style="font-weight: 800">order</span> was <span style="font-weight: 800">recieved successfully</span>
    </h2>
    <h2>We would get back to you soon</h2>
</div>

<script>
    setTimeout(function () {
        window.location.href = 'https://localhost:5002/';
    }, 7000);
</script>