@{
    ViewBag.Title = "Delete - " + @Model.FirstName;
}
@model Users
<style>
    input {
        border: none !important;
        cursor: default;
    }
</style>

<form asp-action="DeleteByMail" asp-controller="NewUser" method="post" class="contactForm">
    <h1 class="headerText" style="color: var(--red);">Delete - @Model.FirstName</h1>
    <fieldset>
        <p>
            <input asp-for="UserId" hidden readonly />
        </p>
        <p>
            <input asp-for="FirstName" placeholder="FirstName" readonly />
        </p>
        <p>
            <input asp-for="LastName" placeholder="LastName" readonly />
        </p>
        <p>
            <input asp-for="Email" placeholder="Email" readonly />
        </p>
        <p>
            <button type="submit" class="btn btn-danger">Delete</button>
        </p>
    </fieldset>
    <h6 style="color:red">@Html.Raw(@ViewBag.Message)</h6>

</form>