@{
    ViewBag.Title = "ControlPannel";
}

@if (@ViewBag.LogMessage == "admin@localhost")
{
    <div class="mainSection">
        <h2>@Html.Raw(@ViewBag.Message)</h2>
        <div class="subSection">
            <h1>User administration</h1> <br>

            <a asp-controller="NewUser" asp-action="Users">
                Users
            </a>
        </div>
    </div>
    <div class="mainSection">
        <div class="subSection">
            <h1>ContactUs</h1> <br>

            <a asp-controller="ContactUs" asp-action="Index">
                ContactUs
            </a>

        </div>
    </div>

    <div class="mainSection">
        <div class="subSection">
            <h1>Management</h1> <br>

            <a asp-controller="Order" asp-action="Index">
                Order Recieved
            </a>

        </div>
    </div>
}
else
{
    <div class="mainSection" style="box-shadow: none; margin-top:200px">
        <img src="https://github.com/dependabot-pr/Static-Files/raw/main/Assets/spinner.gif" alt="load">
    </div>
    <script>
        setTimeout(function () {
            window.location.href = 'https://localhost:5002/Error/Error401';
        }, 2000);
    </script>
}
