@{
    ViewBag.Title = "HomePage";
}

@if (@ViewBag.LogMessage != null)
{
    <div class="mainSection">
        <div class="subSection">
            <h1>ContactUs</h1>
            <a asp-controller="ContactUs" asp-action="ContactUs">
                ContactUs
            </a>
        </div>
    </div>

    <div class="mainSection">
        <div class="subSection">
            <h1>Order</h1>
            <a asp-controller="Order" asp-action="Order" asp-route-id=@ViewBag.LogMessage>
                Order
            </a>
        </div>
    </div>

    <div class="mainSection">
        <div class="subSection">
            <h1>MyOrders</h1>
            <a asp-controller="Order" asp-action="MyOrder" asp-route-id=@ViewBag.LogMessage>
                MyOrders
            </a>
        </div>
    </div>
}
else
{
    <div class="mainSection" style="box-shadow: none; margin-top:200px">
        <img src="https://github.com/dependabot-pr/Static-Files/raw/main/Assets/spinner.gif" alt="load">
    </div>
    <script>
        setTimeout(function () {
            window.location.href = 'https://localhost:5002/Error/NotLoggedIn';
        }, 1000);
    </script>
}
